a.btn:hover {
  background-color: burlywood;
}

a.btn {
  font-weight: 660;
  font-size: larger;
}

body > nav {
  background-color: #73cde7;
}

#kategori {
  box-sizing: border-box;
  border: 1px solid green;
  border-radius: 10px;
}

#inputtext {
  /* box-sizing: border-box;
  border: 1px solid green; */
  border-radius: 10px;
  background-color: beige;
  color: blue;
  width: 65ch;
  text-transform: uppercase;
}

#alamat {
  /* border-radius: 10px; */
  background-color: beige;
  color: blue;
  height: 100px;
  width: 780px;
}

#bandartext {
  /* box-sizing: border-box;
  border: 1px solid green; */
  border-radius: 10px;
  background-color: beige;
  color: blue;
  width: 25ch;
  text-transform: uppercase;
  padding-left: 10px;
}

#poskodtext {
  /* box-sizing: border-box;
  border: 1px solid green; */
  border-radius: 10px;
  background-color: beige;
  color: blue;
  width: 25ch;
  padding-left: 10px;
  /* text-transform: uppercase; */
}

#negeriselect {
  background-color: beige;
}

#nrictext {
  /* box-sizing: border-box;
  border: 1px solid green; */
  border-radius: 10px;
  background-color: beige;
  color: blue;
  width: 20ch;
  text-transform: uppercase;
  padding-left: 10px;
}

#staffidtext {
  /* box-sizing: border-box;
  border: 1px solid green; */
  border-radius: 10px;
  background-color: beige;
  color: blue;
  width: 15ch;
  text-transform: uppercase;
  padding-left: 10px;
}
#phonetext {
  /* box-sizing: border-box;
  border: 1px solid green; */
  border-radius: 10px;
  background-color: beige;
  color: blue;
  width: 15ch;
  text-transform: uppercase;
  padding-left: 10px;
}
#emailtext {
  /* box-sizing: border-box;
  border: 1px solid green; */
  border-radius: 10px;
  background-color: beige;
  color: blue;
  width: 33ch;
  text-transform: uppercase;
  padding-left: 10px;
}

input[type="text"],
input[type="number"] {
  background-color: beige;
  color: blue;
}
